<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>h1</title>
    
</head>
<body>
    {{!-- here it read the file /template/partials/header.hbs --}}
    {{>header}}  
    {{!-- here it call a veriable that is define in errorp file --}}
    {{!-- error1:"oops page not found arnab . . ." --}}
    {{error1}}       
    
</body>
</html>